@charset "UTF-8";

/* Classes e IDs */

#grid-principal {
   margin: 5%;
   display: flex;
   flex-wrap: wrap;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, minmax(150px, 450px));
   gap: 5%;
   place-content: center center;
}

#titulo-principal {
   text-align: center;
   color: #ffbfbf;
   font-size: 40px;
   background: #091d74;
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
   margin-top: 0px;
   margin-bottom: 0px;
   box-shadow: 4px 4px 15px #ffe46a94;
   position: relative;
   z-index: 3;
   border-bottom: 2px solid #ffd900d8;
}

#imagem-principal {
   width: 100%;
   border-radius: 0px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   max-width: none;
}

#categorias {
   /* grid-column: 1 / -1; */
   margin-top: 5%;
   margin-bottom: 5%;
}

#criador {
   color: rgb(158, 0, 0);
}

/* Estilos Gerais */

body {
   background: #dbe2ff;
   margin: 0px;
   font-family: Arial;
   color: #440000;
}

div {
   text-align: center;
}

a {
   text-decoration: none;
}

p {
   font-size: 25px;
}

img {
   width: 100%;
   max-width: 500px;
   border-radius: 4px;
   border: 2px solid #9e0000c0;
   box-shadow: 5px 5px 15px #00000081;
}

footer {
   margin-top: 100px;
   text-align: center;
}
